doctype html
head
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
  link(rel='StyleSheet' href='css/styles.css' type='text/css')
  link(rel='Stylesheet' href='css/form.css' type='type/css')
  script(src='script.js')
header
  nav
    ul
      li
        a(href='/') Home
      li |
      li
        a(href='/register') Blog
      li |
      li 
        a(href='/register') Register 
      li |
      li 
        a(href='/registrants') Registrants 
table
  tr
    th Name
    th Email
  tr
    td Sheba
    td sheba@meow.com
  tr
    td booboo
    td boo@doggiemail.com
  tr
    td kittie
    td kit@meowland.com
  tr
    td pancho
    td panch@doggieland.com
  tr
    td pancho
    td panch@doggieland.com
  tr
    td Mary Jane
    td maryjane@email.com